flask==1.0.2
numpy==1.14.4
pandas==0.23.0
Theano==0.9.0
https://github.com/Lasagne/Lasagne/archive/master.zip
unicodecsv==0.14.1
requests==2.21.0
nltk==3.2.5
scipy==0.19.1
scikit-learn==0.19.1
tensorboard-logger==0.0.4
telepot==12.5
gensim==1.0.1
six==1.11.0
cachetools==2.1.0
