# tensorflow and horovod should be presented in a base docker image or installed manually (see requirements-local.txt)
flask==1.0.2
numpy==1.16.0
pandas==0.23.4
unicodecsv==0.14.1
requests==2.21.0
nltk==3.4.5
scipy==1.2.0
scikit-learn==0.20.2
keras==2.2.4
telepot==12.6  # 12.6 is the latest version compatible (via aiohttp) with python 3.5.2 (ubuntu 16.04 default)
gensim==1.0.1
cachetools==3.0.0
# Internal requirements
gunicorn==19.9.0
tqdm==4.30.0
